.register-form-wrapper {
  height: 100%;
  padding: 0 50px;

  .register-form-title {
    margin: 0;
  }

  .link {
    color: deepskyblue;
    cursor: pointer;
  }

  .error-block {
    color: red;
    margin-bottom: 10px;
  }

  .register-header-block,
  .firstName-form-field,
  .lastName-form-field,
  .email-form-field,
  .password-form-field,
  .btn-block {
    display: block;
    padding-bottom: 15px;
  }

  .btn-block {
    .register-button {
      width: 100%;
    }
  }
}
