<div #entryContainer class="entry-container">
    <mat-sidenav-container class="sidenav-container" (backdropClick)="closeSideNav()" [hasBackdrop]="false">
        <mat-sidenav #sidenav class="sidenav" position="end">
            <section class="sidenav-main-section">
                <app-authorization-container></app-authorization-container>
            </section>
        </mat-sidenav>
        <mat-sidenav-content>
            <app-landing></app-landing>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
