<div #entryContainer class="entry-container">
    <mat-sidenav-container class="sidenav-container" [hasBackdrop]="false">
        <mat-sidenav #sidenav class="sidenav" position="end" [opened]="(sidenavState$ | async) === sideNavStates.Open">
            <section class="sidenav-main-section">
                <slt-authorization-container></slt-authorization-container>
            </section>
        </mat-sidenav>
        <mat-sidenav-content>
            <slt-landing></slt-landing>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
