<div class="authorization-container">
    <ng-container *ngIf="mode$ | async as mode">
        <slt-authorization-header [mode]="mode" (toggleModeEvent)="changeMode(mode)"></slt-authorization-header>
        <div class="authorization-form-wrapper">
            <ng-container *ngIf="mode === authorizationHeaderModes.Login">
                <slt-login-container></slt-login-container>
            </ng-container>

            <ng-container *ngIf="mode === authorizationHeaderModes.Register">
                <slt-register-container></slt-register-container>
            </ng-container>
        </div>
    </ng-container>
</div>
