.login-page-container {
  // height: 100%;

  // .login-form-container {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   height: 100%;
  // }

  // .login-controls-wrapper {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: space-between;
  //   max-height: 200px;
  //   width: 350px;
  //   margin-bottom: 25px;
  // }

  // .login-buttons-wrapper {
  //   display: flex;
  //   justify-content: center;
  //   width: 350px;
  // }

  .enter-btn {
    display: block;
    margin: 0 auto;
    width: 200px;
    position: relative;
    top: 100px;
  }
}
