<div class="login-page-container">
  <!-- <div class="login-form-container">
    <form novalidate [formGroup]="loginForm" (submit)="onLogin()">
      <div class="login-controls-wrapper">
        <mat-form-field>
          <input formControlName="username" matInput placeholder="Username">
        </mat-form-field>
        <mat-form-field>
          <input formControlName="password" type="password" matInput placeholder="Password">
        </mat-form-field>
      </div>
      <div class=login-buttons-wrapper>
          <button mat-flat-button color="primary" [disabled]="loginForm.invalid" type=submit>Enter</button>
      </div>
      <small class=error-message></small>
    </form>
  </div> -->


  <!-- <div class="enter-btn-container"> -->
<!--      <button mat-flat-button class='enter-btn' color="primary" (click)="onLogin()">Enter</button>-->
  <!-- </div> -->
</div>
