.link-listing-container {
  .new-link-input-container {
    padding: 10px 20%;
    .new-link-input {
      width: 100%;
      height: 30px;
      padding: 10px;
      font-size: 22px;
      border: none;
      color: #568fff;
    }
  }

  .link-list-container {
    margin: 5% 10%;

    .link-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      //border-bottom: 1px solid $grey-light;
      padding: 5px;

      .link {
        cursor: pointer;
        font-size: 20px;

        &:link {
          //color: $sidenav-switcher;
          text-decoration: none;
        }

        &:hover {
          //color: $sidenav-hover;
        }
      }
    }
  }
}

:host {
  width: 100%;
}

.delete-link-icon {
  position: relative;
  top: 5px;
}
